.containerD {
      color: white;

}

body {
      display:block;
}

h1{
      font-family: arcade;
      letter-spacing: 2px;
      word-spacing: 10px;
}

#header , #intro {
box-sizing: content-box;
width: 95%;
border: solid #2f386b 5px;
padding: 5px;
}


.link , ol {
text-decoration: none;
/* text-decoration: ; */
color: red;
float: left;
margin-bottom: 10%;
list-style-type: circle;
}

.linkM{
text-decoration: wavy red ;
color: red;
}

/* #intro {
box-sizing: content-box;
width: 95%;
border: solid #2f386b 5px;
padding: 5px;

} */

p {
display: block;
color: white;
text-align: center;
}

#ul {
display: block;
color: white;
width: 20%;
padding: 4px;
}

#intro {
      letter-spacing: 1px;
      word-spacing: 8px;
      font: ;
}

