.containerD {
color: white;

}

body {
display:block;
}

h1{
    font-family: arcade;
}

#header {
box-sizing: content-box;
width: 95%;
border: solid #2f386b 8px;
padding: 5px;
}


.link , ol {
text-decoration: none;
/* text-decoration: ; */
color: red;
float: left;
margin-bottom: 10%;
}

.linkM{
text-decoration: none;
color: red;
}

#intro {
box-sizing: content-box;
width: 95%;
border: solid #2f386b 8px;
padding: 5px;

}

p {
display: block;
color: white;
text-align: center;
}

#ul {
display: block;
color: white;
width: 20%;
padding: 4px;
}
