/* *{
    margin: 0;
   
} */


html, body{ 
    background: url('/Images/starry.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.card{
    position: relative;
    left:6rem;
    border: none;
}

 h1 
{
    text-align: center;
    color:white;
}
.main-container  {
   text-align: center;

}

/* we want this section to create our scroll empty space */
#specialBall {
   padding-top:10%;

}